body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.toolbar {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chart-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider-container {
    width: 100%; /* Ensure it fills the width of its parent */
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yearSlider {
    width: 70%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
}

#yearSlider:hover {
    opacity: 1;
}


.slider-value-box {
    width: 40px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

.toolbar-segment {

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;

    margin: 10px;
    height: 50%;
    width: 100%;
    border: 1px solid red;
}

.scrollbox {
    overflow-y: auto;
    max-height: 200px; /* Adjust as needed */
}

#tooltip {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    background: white;
    border: 1px solid #000;
    border-radius: 5px;
    pointer-events: none;
    z-index: 100;
}

#top-left-segment{
    font-size: 30px;
}

.scrollbox::-webkit-scrollbar {
    width: 8px;
}

.scrollbox::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#countryCheckboxesContainer label {
    cursor: pointer;
}

#countryCheckboxesContainer input[type="checkbox"] {
    padding-right: 16px;
}

#checkAllContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#countryCheckboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.country-checkbox-wrapper {
    display: flex;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    padding: 8px 18px 5px 25px;
}

.country-checkbox-wrapper label:hover {
    color: #007BFF;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend-text {
    font-size: 14px;
}
/* Base button styles */
button {
    width: 130px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
    border-color: #969696cb;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    position: relative;
    box-shadow: inset 0 0 0 1px #fff;
    background-clip: padding-box;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover{
    background-color: #f0f0f0;
    cursor:pointer;
}

#gdpPerCapita {
    background-color: #a4b6ca; /* Initial selected x-Axis*/
}

input[type="checkbox"] {
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 16px;
    height: 16px;
    border: 1px solid #969696cb;
    border-radius: 0.15em;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

/* Style for the checked state */
input[type="checkbox"]:checked {
    background-color: #dbe5f0; /* Background color when checked */
    border-color: #969696cb; /* Ensure border color is the same */
}

/* Use a pseudo-element to scale down the default checkmark */
input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7); /* Scale down the checkmark */
    width: 100%;
    height: 100%;
    background: inherit; /* Use the inherited background color */
    z-index: -1; /* Ensure it does not cover the checkmark */
}

#playButton{
    width: 40px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

