body {
    font-family: sans-serif;
}

button {
border:0.1em solid #303030;
color:#7d7c7c;
transition: all 0.2s;
padding:0.35em 1.2em;
}

button:hover{
    color:#000000;
    background-color:#FFFFFF;
}