body {
    font-family: sans-serif;
}

button {
border:0.1em solid #303030;
color:#7d7c7c;
transition: all 0.2s;
padding:0.35em 1.2em;
}

button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

#chart {
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 180px; 
    min-height: 50px; 
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    white-space: normal;
    overflow: hidden; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2); 
}
